@import url();

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: Georgia, "Times New Roman", Times, serif;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background-color: black;
  color: rgb(255, 255, 255);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 9%;
  background-color: transparent;
  backdrop-filter: blur(10px);
  filter: drop-shadow(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo h2 {
  font-size: 2rem;
  color: #fa6e49;
  font-size: 800;
  cursor: pointer;
  transition: 0.5s ease;
}

.logo:hover {
  transform: scale(1.1);
}

.nav-dash {
  background-color: black;
}

nav a {
  font-size: 2rem;
  color: rgb(255, 255, 255);
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3s ease;
  border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active {
  color: #fa6e49;
  border-bottom: 3px solid;
}

@media (max-width: 995px) {
  nav {
    position: absolute;
    display: none;
    top: 100%;
    right: 0;
    width: 40%;
    border-left: 3px solid #fa6e49;
    border-bottom: 3px solid #fa6e49;
    border-bottom-left-radius: 2rem;
    padding: 1rem solid;
    background: black;
    border-top: 0.1rem solid black;
  }

  nav.active {
    display: block;
  }

  nav a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }

  nav a:hover,
  nav a.active {
    padding: 1rem;
    border-radius: 0.5rem;
    border-bottom: 00.5rem solid;
  }
}

section {
  min-height: 50vh;
  padding: 5rem 9% 5rem 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  background-color: black;
  background-size: 60cm;
}

.work {
  height: 100vh;
  position: relative;
  background-image: url(/images/jonathan-bean-sbZU1j31ggE-unsplash.jpg);
  background-size: 200vh;
  background-position: center;
}

.work h2 {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2cm;
}

.work-experience h4 {
  font-size: medium;
  position: relative;
}

.work-experience p {
  font-size: medium;
  position: relative;
}

.school {
  background-size: 180vh;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/images/kristine-kozaka-Z9xPTZfRvNw-unsplash.jpg);
}

.school h3 {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2cm;
}

.school-experience h4 {
  font-size: medium;
  position: relative;
  display: flex;
}

.school-experience p {
  font-size: medium;
  position: relative;
  display: flex;
}

.apiary {
  background-size: 180vh;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/images/porch.JPG);
}

.apiary h3 {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2cm;
}

.apiary-details h4 {
  font-size: medium;
  position: relative;
  display: flex;
}

.apiary-details p {
  font-size: medium;
  position: relative;
  display: flex;
}
